<ion-header><ion-navbar><ion-title>
  REGISTRATION
</ion-title></ion-navbar></ion-header>

<ion-content padding *ngIf="sel == 'user'">
  <p style="text-align: justify;">Please complete all the following details.</p>
  <form>
<!-- Personal Details -->
  <h2 style="text-align:center;">Login Details</h2>
  <div class="spacer" style="width:100%;height:3px;background-color: black;"></div>
  <p style="text-align: justify;font-style: italic;">If you do not have IC Number, 
  please use your Passport Number (Use 'P' for the letter eg. P0101010).</p>
    <!-- Fulll Name -->
    <ion-list>
      <ion-item>
        <ion-label floating>Full Name:</ion-label>
          <ion-input type="text" [(ngModel)]="userDetail.fullName" (ngModelChange)="userDetail.fullName = $event.toLocaleUpperCase()" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
    <!-- Email Address -->
      <ion-item style="background-color:transparent;">
        <ion-label floating>Email:</ion-label>
        <ion-input #email [(ngModel)]="userDetail.email" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
    <!-- IC/Passport -->
      <ion-item>
        <ion-label floating>IC/Passport Number:</ion-label>
          <ion-input type="text" #idNumber [(ngModel)]="userDetail.idNumber" (ngModelChange)="userDetail.idNumber = $event.toLocaleUpperCase()" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
      <ion-item *ngIf="!(idNumber.value.charAt(0) == 'P') && !(idNumber.value.charAt(0) == '')">
        <ion-label>Color</ion-label>
          <ion-select [(ngModel)]="userDetail.color" [ngModelOptions]="{standalone: true}">
          <ion-option value="Green">G - Green</ion-option>
          <ion-option value="Red">R - Red</ion-option>
          <ion-option value="Yellow">Y - Yellow</ion-option>
          <ion-option value="Purple">P - Purple</ion-option>
        </ion-select>
      </ion-item>
      <!-- Password -->    
      <ion-item style="background-color:transparent;">
        <ion-label floating>Password:</ion-label>
        <ion-input type="password" style="color:#000000;" #password></ion-input>
      </ion-item>
    </ion-list>

<!-- Security Details -->
  <div class="spacer" style="width:100%;height:10px;"></div>
  <h2 style="text-align:center;">Security Details</h2>
  <div class="spacer" style="width:100%;height:3px;background-color: black;"></div>
  <p style="text-align: justify;font-style: italic;">Important: This question and answer will be used for password reset purposes.</p>
  <!-- Question -->
    <ion-list>
      <ion-item style="background-color:transparent;">
        <ion-label floating>Question:</ion-label>
          <ion-select [(ngModel)]="userDetail.question" [ngModelOptions]="{standalone: true}">
          <ion-option value="What is my pet name?.">What is my pet name?.</ion-option>
          <ion-option value="Who is my bestfriend?">Who is my bestfriend?.</ion-option>
          <ion-option value="What is my backup password?">What is my backup password?</ion-option>
        </ion-select>
      </ion-item>
      <ion-item style="background-color:transparent;">
        <ion-label floating>Answer:</ion-label>
          <ion-input type="password" [(ngModel)]="userDetail.answer" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
    </ion-list>

    <div class="spacer" style="width:300px;height:11px;"></div>
    <div *ngIf="(userDetail.idNumber != undefined)
        && (userDetail.question != undefined)
        && (userDetail.answer != undefined)
        && (password.value != undefined)">
    <h3>Terms and Conditions!</h3>
    <p style="text-align: justify;font-style: italic;">By registering to this application you must agree, and declared that all the following informations are true and valid. Also, we have the right to share this informations given by you for Job seeking purposes only.</p>
    <ion-checkbox [(ngModel)]="check" [ngModelOptions]="{standalone: true}"></ion-checkbox><ion-label>Please check if you have read and agree.</ion-label>
    </div>
<!-- Register -->
    <button *ngIf="check" ion-button color="balanced" block style="font-weight:600;color:#FFFFFF;background-color:#000000;" (click)="registerUser(userDetail)" >
      REGISTER
    </button>

  </form>
</ion-content>

<ion-content padding *ngIf="sel == 'company'">
  <p style="text-align: justify;">Please fill in all the following details.</p>
  <form>
<!-- Company Details -->
  <h2 style="text-align:center;">Company Details</h2>
  <div class="spacer" style="width:100%;height:3px;background-color: black;"></div>
    <!-- Company Name -->
    <ion-list>
      <ion-item>
        <ion-label floating>Company Name:</ion-label>
          <ion-input #idNumber [(ngModel)]="userDetail.compName" (ngModelChange)="userDetail.compName = $event.toLocaleUpperCase()" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
      <!-- Email Address -->
    <ion-item style="background-color:transparent;">
      <ion-label floating>Email:</ion-label>
      <ion-input #email [(ngModel)]="userDetail.email" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <!-- Password -->    
      <ion-list>
        <ion-item>
          <ion-label floating>Password:</ion-label>
          <ion-input type="password" #password></ion-input>
        </ion-item>
      </ion-list>
    </ion-list>

<!-- Security Details -->
  <div class="spacer" style="width:100%;height:10px;"></div>
  <h2 style="text-align:center;">Security Details:</h2>
  <div class="spacer" style="width:100%;height:3px;background-color: black;"></div>
  <p style="text-align: justify;font-style: italic;">Important: This question and answer will be used for password reset purposes.</p>
  <!-- Question -->
    <ion-list>
      <ion-item>
        <ion-label floating>Question:</ion-label>
          <ion-select [(ngModel)]="userDetail.question" [ngModelOptions]="{standalone: true}">
          <ion-option value="Company backup password?">Company backup password?</ion-option>
          <ion-option value="Company secret code?">Company secret code?.</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Answer:</ion-label>
          <ion-input type="password" [(ngModel)]="userDetail.answer" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
    </ion-list>
    
    <div class="spacer" style="width:300px;height:11px;"></div>
    <div *ngIf="(userDetail.compName != undefined)
        && (userDetail.question != undefined)
        && (userDetail.answer != undefined)
        && (password.value != undefined)">
    <h3>Terms and Conditions!</h3>
    <p style="text-align: justify;font-style: italic;">By registering to this application company must agree, and declared that all the following informations are used for JobSeeker purposes only. Termination of the company will be fined if found violating.</p>
    <ion-checkbox [(ngModel)]="check" [ngModelOptions]="{standalone: true}"></ion-checkbox><ion-label>Please check if you have read and agree.</ion-label>
    </div>
<!-- Register -->
    <button *ngIf="check" ion-button color="balanced" block style="font-weight:600;color:#FFFFFF;background-color:#000000;" (click)="registerUser(userDetail)" >
      REGISTER
    </button>
  </form>
</ion-content>